ion-content{
    --background: url(/assets/imagem/fundocasos.jpg)0 0/100% 100% no-repeat;
}

.azul{
    color: rgb(68, 68, 67);
}

.vermelho{
    color: red;
}

.verde{
    color: rgb(68, 68, 67);
}

ion-card{
    border-radius: 10px;
    box-shadow: 3px 2px 3px  rgb(2, 177, 148);

}