<ion-content class="ion-padding"  >
  <div>
    <h1>  </h1>
    <ion-grid>
  <div>
    <form class="acesso">
      <ion-item lines="full">
        <ion-label position="stacked" >E-mail</ion-label>
        <ion-input class="borda" name="login" type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked" >Senha</ion-label>
        <ion-input class="borda" name="senha" type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>
          <div>
          <ion-button color="secondary" type="submit" (click)="loginUsuario()" expand="block">Entrar</ion-button>
          <ion-button (click)= "cadastroPage()"color="danger"  expand="block" >Cadastre-se</ion-button>
        </div>
    </form>
  </div>
  </ion-grid>
  </div>
    </ion-content>
    